openapi: 3.0.0
info:
  version: 1.1.7
  title: Moneris Internal API
  description: Moneris API Platform
  termsOfService: https://developer.moneris.com/terms/
  contact:
    name: Moneris Developer Support (MonDev)
    url: https://developers.moneris.com
    email: developersupport@moneris.com
  license:
    name: Moneris
    url: https://developer.moneris.com/license
  x-audience: external-public
servers:
  - url: https://api.moneris.io
paths:
  /payments:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: List Payments
      description: Returns a paginated list of payments.
      operationId: getPayments
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all payments
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponseList'
              example:
                data:
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAZ
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 16000
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: CANCELED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                  - paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    amount:
                      amount: 16000
                      currency: CAD
                    authorizedAmount:
                      amount: 0
                      currency: CAD
                    capturableAmount:
                      amount: 0
                      currency: CAD
                    amountDetails:
                      subTotalAmount:
                        amount: 14000
                        currency: CAD
                      tipAmount:
                        amount: 150
                        currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation: null
                      contactDetails: null
                      billingAddress: null
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    paymentStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 421
                      responseCode: 43
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    refunds: null
                    customData:
                      property1: string
                      property2: string
                self: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /payments?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next: null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    post:
      summary: Create Payment
      description: This operation is used to initiate a Payment.
      operationId: createPayments
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentRequest'
            examples:
              regularPurchaseWithPaymentMethodId:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethodId'
              regularPurchaseWithPaymentMethod:
                $ref: '#/components/examples/regularPurchaseWithPaymentMethod'
              preAuthorizationWithPaymentMethodId:
                $ref: '#/components/examples/preAuthorizationWithPaymentMethodId'
      responses:
        '201':
          description: Payment operation created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                PurchaseCompleted:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                PreauthorizationCompletedResponse:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
        '400':
          description: Failed Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /payments/{payment-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrieve Payment
      description: Retrieve a payment by its payment Id
      operationId: getPayment
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      responses:
        '200':
          description: The payment corresponding to the provided `payment-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/PurchaseCompletedResponse'
                authorized:
                  $ref: '#/components/examples/PreauthorizationCompletedResponse'
                declined:
                  $ref: '#/components/examples/PurchaseDeclinedResponse'
                declined_retry:
                  $ref: '#/components/examples/PurchaseDeclinedRetryResponse'
                canceled:
                  $ref: '#/components/examples/PurchaseCanceledResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /payments/{payment-id}/cancel:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    post:
      summary: Cancel Payment
      description: Cancel a payment. This operation may not be possible if the payment has gone through.
      operationId: cancelPayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelPaymentRequest'
      responses:
        '200':
          description: Payment canceled successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails:
                  subTotalAmount:
                    amount: 14000
                    currency: CAD
                  tipAmount:
                    amount: 150
                    currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2025
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: CANCELED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 0
                  responseCode: 1
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                checkResults:
                  addressVerificationServiceResultCode: M
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                cardOnFileResponse: null
                refunds: null
                customData:
                  property1: string
                  property2: string
        '400':
          description: Failed to cancel Payment operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /payments/{payment-id}/complete:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    post:
      summary: Complete Payment
      description: This will effectively capture a payment that has been authorized.
      operationId: completePayment
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/completionRequest'
            example:
              idempotencyKey: 5d8f812e-9969-4885-85bb-d03948eccac2
              invoiceNumber: 1a2s3d45v6
              customData:
                property1: string
                property2: string
              amount:
                amount: 16000
                currency: CAD
      responses:
        '200':
          description: Payment completed successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentResponse'
              example:
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                orderId: 1q2w3e4r5t6t78
                invoiceNumber: 1a2s3d45v6
                transactionDateTime: '2019-07-30T06:43:40.252Z'
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                amount:
                  amount: 16000
                  currency: CAD
                authorizedAmount:
                  amount: 16000
                  currency: CAD
                capturableAmount:
                  amount: 0
                  currency: CAD
                amountDetails:
                  subTotalAmount:
                    amount: 14000
                    currency: CAD
                  tipAmount:
                    amount: 150
                    currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentMethod:
                  paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation: null
                  contactDetails: null
                  billingAddress: null
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2025
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: null
                  customData:
                    property1: string
                    property2: string
                paymentStatus: SUCCEEDED
                transactionDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 0
                  responseCode: 1
                  message: approved
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                checkResults:
                  addressVerificationServiceResultCode: M
                  cardSecurityCodeResultCode: MATCH
                  threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                cardOnFileResponse: null
                refunds: null
                customData:
                  property1: string
                  property2: string
        '400':
          description: Failed to complete purchase
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidPurchaseErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /payment-methods:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: List payment methods
      description: Retrieves a paginated list of payment methods.
      operationId: getPaymentMethods
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
        - $ref: '#/components/parameters/isExpiring'
      responses:
        '200':
          description: Paginated list of payment methods
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponseList'
              example:
                data:
                  - paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation: null
                    contactDetails: null
                    billingAddress: null
                    paymentMethodType: CARD
                    paymentMethodInformation:
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2023
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                    paymentMethodStored: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                  - paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    cardholderInformation:
                      cardholderName: John Doe
                      companyName: SP Ltd
                    contactDetails:
                      phoneNumber: 1-866-319-7450
                      email: moneris@moneris.com
                    billingAddress:
                      unitNumber: 123A
                      streetNumber: '3300'
                      streetName: Bloor Street West
                      city: Toronto
                      province: Ontario
                      postalCode: M8X 2X2
                      country: CA
                    paymentMethodType: TEMPORARY_TOKEN
                    paymentMethodInformation:
                      cardInformation:
                        bankIdentificationNumber: '123456'
                        lastFour: '1234'
                        expiryMonth: 1
                        expiryYear: 2023
                        cardBrand: MASTERCARD
                        cardType: CREDIT
                        cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                        issuer: RBC
                      paymentAccountReference: '11112222333344445555666677778'
                    paymentMethodStored: DO_NOT_STORE
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    customData:
                      property1: string
                      property2: string
                self: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /payment-methods?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    post:
      summary: Create Payment Method
      description: Create a Payment Method.
      operationId: createPaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/cardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/temporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/permanentTokenPaymentMethodRequest'
      responses:
        '201':
          description: |
            Payment method created successfully.  Response content contains the created payment method.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'

  /payment-methods/internal/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrieve a Payment Method by Id internally which returns some extra info
      description: Retrieve a Payment Method by Id internally which returns some extra info
      operationId: getPaymentMethodInternal
      security:
        - ApiKeyAuth: []      
      tags:
        - paymentMethodInternal
      responses:
        '200':
          description: Get payment method internal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponseInternal'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
    put:
      summary: Update payment method internal
      description: Update payment method internal
      operationId: updatePaymentMethodInternal
      security:
        - ApiKeyAuth: []      
      tags:
        - paymentMethodInternal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentMethodRequestInternal'
      responses:
        '200':
          description: Update payment method internal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponseInternal'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
  /payment-methods/{payment-method-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/paymentMethodId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrive Payment Method
      description: Retrieve a Payment Method by Id
      operationId: getPaymentMethod
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '200':
          description: Payment method found and returned in the response.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    put:
      summary: Update Payment method
      description: |
        Update payment method referenced by its Id. 
        Certain details may not be updated if the payment method was used in a transaction.
      operationId: updatePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethodRequest'
            examples:
              card:
                $ref: '#/components/examples/updateCardPaymentMethodRequest'
              temporary_token:
                $ref: '#/components/examples/updateTemporaryTokenPaymentMethodRequest'
              permanent_token:
                $ref: '#/components/examples/updatePermanentTokenPaymentMethodRequest'
      responses:
        '200':
          description: Update payment method
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentMethodResponse'
              example:
                paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                cardholderInformation:
                  cardholderName: John Doe
                  companyName: SP Ltd
                contactDetails:
                  phoneNumber: 1-866-319-7450
                  email: moneris@moneris.com
                billingAddress:
                  unitNumber: 123A
                  streetNumber: '3300'
                  streetName: Bloor Street West
                  city: Toronto
                  province: Ontario
                  postalCode: M8X 2X2
                  country: CA
                paymentMethodType: CARD
                paymentMethodInformation:
                  cardInformation:
                    bankIdentificationNumber: '123456'
                    lastFour: '1234'
                    expiryMonth: 1
                    expiryYear: 2023
                    cardBrand: MASTERCARD
                    cardType: CREDIT
                    cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                    issuer: RBC
                  paymentAccountReference: '11112222333344445555666677778'
                paymentMethodStored: DO_NOT_STORE
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                customData:
                  property1: string
                  property2: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    delete:
      summary: Delete Payment Method
      description: Deletes a payment method.
      operationId: deletePaymentMethod
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Payment Methods
      responses:
        '204':
          description: |
            Payment method deleted successfully. 
            Response content contains the payment method details.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Payment method not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /payment-methods/pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /refunds:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: List Refunds
      description: Returns a paginated list of refund operations.
      operationId: getRefunds
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: Refund list successfully returned.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponseList'
              example:
                data:
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2023
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    status: SUCCEEDED
                    statusDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 1
                      responseCode: 1
                      message: SUCCESS
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    paymentMethod:
                      paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2023
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: '2019-07-30T06:43:40.252Z'
                      customData:
                        property1: string
                        property2: string
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: '2019-07-30T06:43:40.252Z'
                    refundAmount:
                      amount: 1600
                      currency: CAD
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    status: DECLINED
                    statusDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 51
                      responseCode: 54
                      message: Expired Card
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    reason: Defective product
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /refunds?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    post:
      summary: Create Refund
      description: |
        This operation is used to create a Refund. 
        For payment refunds, Payment Id is required while payment method is not required.
        For independent refunds, no payment Id is required, however payment method is required.
      operationId: createRefund
      security:
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRefundRequest'
            examples:
              matching:
                $ref: '#/components/examples/matchingRefundRequest'
      responses:
        '201':
          description: Refund operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              example:
                refundId: ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                paymentId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                merchantId: '0123456789101'
                paymentMethod:
                  paymentMethodId: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                  merchantId: '0123456789101'
                  cardholderInformation:
                    cardholderName: John Doe
                    companyName: SP Ltd
                  contactDetails:
                    phoneNumber: 1-866-319-7450
                    email: moneris@moneris.com
                  billingAddress:
                    unitNumber: 123A
                    streetNumber: '3300'
                    streetName: Bloor Street West
                    city: Toronto
                    province: Ontario
                    postalCode: M8X 2X2
                    country: CA
                  paymentMethodType: CARD
                  paymentMethodInformation:
                    cardInformation:
                      bankIdentificationNumber: '123456'
                      lastFour: '1234'
                      expiryMonth: 1
                      expiryYear: 2023
                      cardBrand: MASTERCARD
                      cardType: CREDIT
                      cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                      issuer: RBC
                    paymentAccountReference: '11112222333344445555666677778'
                  paymentMethodStored: DO_NOT_STORE
                  createdAt: '2019-07-30T06:43:40.252Z'
                  modifiedAt: '2019-07-30T06:43:40.252Z'
                  customData:
                    property1: string
                    property2: string
                createdAt: '2019-07-30T06:43:40.252Z'
                modifiedAt: '2019-07-30T06:43:40.252Z'
                refundAmount:
                  amount: 1600
                  currency: CAD
                customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                status: SUCCEEDED
                statusDetails:
                  transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                  isoResponseCode: 1
                  responseCode: 1
                  message: SUCCESS
                  ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                reason: Defective product
                cardOnFileResponse: null
                customData:
                  property1: string
                  property2: string
        '400':
          description: Refund operation declined
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                invalid_request:
                  $ref: '#/components/examples/InvalidRefundErrorResponse'
                declined:
                  $ref: '#/components/examples/exp-refundResponse_DeclineErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /refunds/{refund-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/refundId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrieve Refund
      description: Retrieve a refund by its Id.
      operationId: getRefundById
      security:
        - OAuth2:
            - refund.read
        - OAuth2:
            - refund.write
        - ApiKeyAuth: []
      tags:
        - Refunds
      responses:
        '200':
          description: Successfully retrieved the refund corresponding to the provided `refund-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refundResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/SucceededRefundResponse'
                declined:
                  $ref: '#/components/examples/DeclinedRefundResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Refund not found.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /refunds/ri0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /validations:
    description: |
      set up a payment method for future payments. 
      Similar to a payment, but no charge is created.
      Useful when onboarding customers but not charging them right away.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: List of Card Validations
      description: Returns a paginated list of the card validations the were executed.
      operationId: getValidations
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of Card Validations
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationsResponseList'
              example:
                data:
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails: null
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    validationStatus: SUCCEEDED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 0
                      responseCode: 1
                      message: approved
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                  - validationId: vi0105ARZ3NDEKTSV4RRFFQ69G5FAX
                    merchantId: '0123456789101'
                    orderId: 1q2w3e4r5t6t78
                    invoiceNumber: 1a2s3d45v6
                    transactionDateTime: '2019-07-30T06:43:40.252Z'
                    createdAt: '2019-07-30T06:43:40.252Z'
                    modifiedAt: null
                    customerId: ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                    paymentMethod:
                      paymentMethodId: pm0105ARZ3NDEKTSV4RRFFQ69G5FAV
                      merchantId: '0123456789101'
                      cardholderInformation:
                        cardholderName: John Doe
                        companyName: SP Ltd
                      contactDetails:
                        phoneNumber: 1-866-319-7450
                        email: moneris@moneris.com
                      billingAddress:
                        unitNumber: 123A
                        streetNumber: '3300'
                        streetName: Bloor Street West
                        city: Toronto
                        province: Ontario
                        postalCode: M8X 2X2
                        country: CA
                      paymentMethodType: CARD
                      paymentMethodInformation:
                        cardInformation:
                          bankIdentificationNumber: '123456'
                          lastFour: '1234'
                          expiryMonth: 1
                          expiryYear: 2025
                          cardBrand: MASTERCARD
                          cardType: CREDIT
                          cardFingerprint: 1Q2W3E4r5t6rfwewerwewrrw
                          issuer: RBC
                        paymentAccountReference: '11112222333344445555666677778'
                      paymentMethodStored: DO_NOT_STORE
                      createdAt: '2019-07-30T06:43:40.252Z'
                      modifiedAt: null
                      customData:
                        property1: string
                        property2: string
                    validationStatus: DECLINED
                    transactionDetails:
                      transactionUniqueId: 938c2cc0dcc05f2b68c4287040cfcf71
                      isoResponseCode: 421
                      responseCode: 43
                      message: Stolen card, pick up.
                      ecommerceIndicator: AUTHENTICATED_ECOMMERCE
                    checkResults:
                      addressVerificationServiceResultCode: M
                      cardSecurityCodeResultCode: MATCH
                      threeDSecureAuthenticationValueResultCode: VISA_CAVV_PASSED_VALIDATION_ATTEMPTED
                    cardOnFileResponse: null
                    customData:
                      property1: string
                      property2: string
                self: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                first: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                last: /validations?cursor=d41d8cd98f00b&limit=50&api_version=2023-11-01
                next": null
                previous: null
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    post:
      summary: Create Card Validation
      description: Initiate a new Card Validation request.
      operationId: createValidation
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createValidationRequest'
            examples:
              with_payment_method_id:
                $ref: '#/components/examples/validationRequestWithPaymentMethodId'
              with_payment_method:
                $ref: '#/components/examples/validationRequestWithPaymentMethodData'
      responses:
        '201':
          description: Validation request created successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
        '400':
          description: Failed Validation operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                declined:
                  $ref: '#/components/examples/exp-validationResponse_DeclineErrorResponse'
                invalid_request:
                  $ref: '#/components/examples/InvalidRequestErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /validations/{validation-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/validationId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrieve Card Validation.
      description: Retrieve a Card Validation by Id.
      operationId: getValidation
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - Validations
      responses:
        '200':
          description: Retrieve a Card Validation by Id
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
              examples:
                succeeded:
                  $ref: '#/components/examples/ValidationSucceededResponse'
                declined:
                  $ref: '#/components/examples/ValidationDeclinedRetryResponse'
                declined_retry:
                  $ref: '#/components/examples/ValidationDeclinedResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Card validation not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResponse'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /validations/vi0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /customers:
    description: |
      This API allows to manage past and recurring customers.
      Very useful when tracking and managing charges belonging to the same customer.
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: List Customers
      description: Returns a paginated list of customers.
      operationId: getCustomers
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/pageBeforeCursor'
        - $ref: '#/components/parameters/pageLimit'
        - $ref: '#/components/parameters/createdFrom'
        - $ref: '#/components/parameters/createdTo'
      responses:
        '200':
          description: List of all customers
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponseList'
        '400':
          $ref: '#/components/responses/invalidListbadRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    post:
      summary: Create Customer
      description: This operation is used to created a new customer.
      operationId: createCustomers
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequest'
      responses:
        '201':
          description: Customer operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /customers/{customer-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/customerId'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    get:
      summary: Retrieve Customer
      description: Retrieve a customer by their Id.
      operationId: getCustomer
      security:
        - OAuth2:
            - customer.read
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '200':
          description: The customer corresponding to the provided `customerId`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    put:
      summary: Update Customer
      description: Updates customer's details such as name, address etc...
      operationId: updateCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerRequest'
      responses:
        '200':
          description: Customer updated successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '409':
          $ref: '#/components/responses/concurrencyConflict'
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
    delete:
      summary: Delete Customer
      description: Delete a customer by their Id
      operationId: deleteCustomer
      security:
        - OAuth2:
            - customer.write
        - ApiKeyAuth: []
      tags:
        - Customers
      responses:
        '204':
          description: Customer deleted successfully.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          description: Customer not found
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                type: https://developer.moneris.com/en/More/Testing/Response%20Codes
                title: NOT_FOUND
                status: 404
                detail: null
                instance: /customers/ci0105ARZ3NDEKTSV4RRFFQ69G5FAV
                category: INVALID_REQUEST_ERROR
                errors: []
        '429':
          $ref: '#/components/responses/tooManyRequests'
        '500':
          $ref: '#/components/responses/internalServer'
  /three-d-secure:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    post:
      summary: Create Authentication
      description: |
        This operation is used to create an Authentication request. 
        The authentication request is used to start the validation process of the card. 
        The result of this request determines whether 3DS is supported by the card and what type of authentication is required.
      operationId: createAuthentication
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
      responses:
        '201':
          description: Card Lookup operation result response
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '202':
          description: MPI Authentication operation resulted in a challenge.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
  /three-d-secure/{authentication-id}:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
      - $ref: '#/components/parameters/authenticationId'
    get:
      summary: Retrieve Authentication
      description: Retrieve an authentication by its authentication Id
      operationId: getAuthentication
      security:
        - OAuth2:
            - payment.read
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      responses:
        '200':
          description: The authentication corresponding to the provided `authentication-id`
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
  /three-d-secure/{authentication-id}/lookup:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/authenticationId'
    post:
      summary: Authentication Value Lookup
      description: The point of the 3-D Secure flow is to verify that the true cardholder is a part of the authorization. The challenge flow is used to present a way of authenticating the cardholder using e.g. OTP or a federated identification method.
      operationId: authenticationValueLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lookupRequest'
      responses:
        '201':
          description: MPI Authentication operation was successfully authenticated.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServer'
  /three-d-secure/card-lookups:
    parameters:
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/correlationId'
      - $ref: '#/components/parameters/prm-common_apiVersion'
      - $ref: '#/components/parameters/xMerchantId'
      - $ref: '#/components/parameters/xStoreId'
      - $ref: '#/components/parameters/xApiToken'
    post:
      summary: 3DS Card Lookup
      description: 3DS Card Lookup
      operationId: cardLookup
      security:
        - OAuth2:
            - payment.write
        - ApiKeyAuth: []
      tags:
        - 3D Secure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardLookupRequest'
      responses:
        '200':
          description: CAVV Lookup operation to read the challenge result.
          headers:
            Api-Version:
              $ref: '#/components/headers/apiVersion'
            X-Correlation-Id:
              $ref: '#/components/headers/correlationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cardLookupResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServer'
components:
  headers:
    apiVersion:
      description: Version group id
      required: false
      schema:
        description: Api version group
        type: string
        example: '2023-11-01'
    correlationId:
      description: |
        Used to uniquely correlate a series of requests within the same flow. 
        Generated by Moneris with every request or response if it doesn't exist.
        Merchant should echo back the value.
      required: false
      schema:
        type: string
        example: 06f1e47b-a1b5-4902-be9c-bccc506127c4
    rateLimitCount:
      description: The maximum number of requests that the client can make in this window.
      required: false
      schema:
        type: integer
        format: int64
      example: 1000
    rateLimitRemaining:
      description: The number of requests allowed in the current window.
      required: false
      schema:
        type: integer
        format: int64
      example: 0
    rateLimitReset:
      description: The relative time in seconds when the rate limit window will be reset.
      required: false
      schema:
        type: integer
        format: int32
      example: null
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.moneris.io/token
          scopes:
            payment.read: Grants read access to payment related APIs
            payment.write: Grants read & write access to payment related APIs
            refund.read: Grants read access to refunds
            refund.write: Grants read & write access to refunds
            customer.read: Grants read access to customer data
            customer.write: Grants read & write access to customer data
  parameters:
    apiVersion:
      in: header
      name: Api-Version
      description: Version group id
      required: false
      schema:
        $ref: '#/components/schemas/apiVersion'
    correlationId:
      in: header
      name: X-Correlation-Id
      description: |
        Used to uniquely correlate a series of requests within the same flow.  Generated by Moneris with every request or response if it doesn't exist. Merchant should echo back the value.
      required: false
      schema:
        type: string
        example: 06f1e47b-a1b5-4902-be9c-bccc506127c4
    prm-common_apiVersion:
      in: query
      name: api_version
      description: Version group id
      required: false
      schema:
        $ref: '#/components/schemas/apiVersion'
    xMerchantId:
      in: header
      name: x-merchant-id
      description: |
        Thirteen character long identification provided to merchants by Moneris.  Required when caller is impersonating or submitting a request on behalf of a Merchant.
      required: true
      schema:
        $ref: '#/components/schemas/merchantId'
    xStoreId:
      in: header
      name: x-store-id
      description: Moneris Store Id
      required: true
      schema:
        $ref: '#/components/schemas/storeId'
    xApiToken:
      in: header
      name: x-api-token
      description: Moneris Api Token
      required: true
      schema:
        $ref: '#/components/schemas/apiToken'
    pageBeforeCursor:
      in: query
      name: cursor
      description: Pagination cursor to return rows located after it.
      required: false
      schema:
        type: string
        example: d41d8cd98f00b204e9800998ecf8427e
    pageLimit:
      in: query
      name: limit
      description: Pagination page size limit.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        example: 50
    createdFrom:
      name: created_from
      in: query
      description: Return items created after the specified date. Defaults to start of day.
      required: false
      schema:
        $ref: '#/components/schemas/dateTime'
    createdTo:
      name: created_to
      in: query
      description: Return items created before the specified date. Defaults to now. Must be later than created_from.
      required: false
      schema:
        $ref: '#/components/schemas/dateTime'
    paymentId:
      in: path
      name: payment-id
      description: The unique identifier of the payment
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    isExpiring:
      name: is_expiring
      in: query
      description: Returns payment methods that have cards expiring during the current and next calendar month.
      required: false
      schema:
        type: boolean
    paymentMethodId:
      name: payment-method-id
      in: path
      description: Payment Method ID
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    refundId:
      in: path
      name: refund-id
      description: The unique identifier of the refund
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    validationId:
      in: path
      name: validation-id
      description: The unique identifier of the Validation
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    customerId:
      in: path
      name: customer-id
      description: The unique identifier of the customer
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    authenticationId:
      in: path
      name: authentication-id
      description: The unique identifier of the authentication
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
  schemas:
    apiVersion:
      description: Api version group
      type: string
      example: '2023-11-01'
    merchantId:
      type: string
      description: |
        Thirteen character long identification provided to merchants by Moneris.
      minLength: 13
      maxLength: 13
      example: '0123456789101'
    storeId:
      type: string
      description: Account Id provided to merchants by Moneris for processing transactions via API
      minLength: 5
      maxLength: 18
      example: 'monca00001'
    apiToken:
      type: string
      description: 20 alphanumeric characters token provided to merchants by Moneris for processing transactions via API
      minLength: 5
      maxLength: 20
      example: 'eD13Bb6E00249w642a57'
    dateTime:
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    resourceId:
      type: string
      description: A Unique Identifier that is used to identify API resources. This field is required for any future follow-on transactions such as Refunds, Corrections, Completions, Reversals, etc.
      pattern: ^[A-Za-z]{2}\d{2}[A-Za-z0-9]{26}$
      minLength: 30
      maxLength: 30
      example: pi0105ARZ3NDEKTSV4RRFFQ69G5FAV
    orderId:
      type: string
      description: Merchant-defined transaction identifier that must be unique for every Purchase, Pre-Authorization and Independent Refund transaction. No two transactions of these types may have the same order ID.
      minLength: 1
      maxLength: 50
      example: 1q2w3e4r5t6t78
    invoiceNumber:
      type: string
      description: The terminal uses the invoice number field to submit a unique value to identify a transaction. This data is logged by Moneris Solutions.
      minLength: 1
      maxLength: 17
      example: 1a2s3d45v6
    transactionDateTime:
      description: Date and Time of transaction
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    createdAt:
      description: Time at which the object was created
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    modifiedAt:
      description: Time at which the object was modified
      type: string
      format: date-time
      example: '2019-07-30T06:43:40.252Z'
    amount:
      type: integer
      format: int32
      minimum: 0
      maximum: 999999999
      example: 10000
    currency:
      type: string
      description: Three letter currency code based on the ISO 4217 standard. See https://en.wikipedia.org/wiki/ISO_4217
      minLength: 3
      maxLength: 4
      example: CAD
    transactionAmount:
      type: object
      description: The amount for the transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - amount
        - currency
      example:
        amount: 16000
        currency: CAD
    subTotalAmount:
      type: object
      description: Sub total amount for the transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - amount
        - currency
      example:
        amount: 2000
        currency: CAD
    tipAmount:
      type: object
      description: Total tip amount for the transaction. The value must be in cents. Therefore $10.59 must be sent as 1059
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
      required:
        - amount
        - currency
      example:
        amount: 1200
        currency: CAD
    amountDetails:
      description: Additional amount details
      type: object
      properties:
        subTotalAmount:
          $ref: '#/components/schemas/subTotalAmount'
        tipAmount:
          $ref: '#/components/schemas/tipAmount'
    cardholderName:
      type: string
      description: Cardholder name
      minLength: 1
      maxLength: 60
      example: John Doe
    companyName:
      type: string
      description: Company name
      minLength: 1
      maxLength: 50
      example: SP Ltd
    cardholderInformation:
      type: object
      description: Information about the holder of the card.
      properties:
        cardholderName:
          $ref: '#/components/schemas/cardholderName'
        companyName:
          $ref: '#/components/schemas/companyName'
      required:
        - cardholderName
    phoneNumber:
      type: string
      description: Customer's phone number
      minLength: 1
      maxLength: 30
      example: 1-866-319-7450
    email:
      type: string
      format: iso-639
      description: Customer's email address. See https://www.rfc-editor.org/rfc/rfc5322
      minLength: 1
      maxLength: 320
      example: moneris@moneris.com
    contactDetails:
      type: object
      description: Customer's contact details
      properties:
        phoneNumber:
          $ref: '#/components/schemas/phoneNumber'
        email:
          $ref: '#/components/schemas/email'
      example:
        phoneNumber: 1-866-319-7450
        email: moneris@moneris.com
    unitNumber:
      type: string
      description: Unit number
      minLength: 1
      maxLength: 19
      example: 123A
    streetNumber:
      type: string
      description: Street number
      minLength: 1
      maxLength: 19
      example: '3300'
    streetName:
      type: string
      description: Street name
      minLength: 1
      maxLength: 100
      example: Bloor
    city:
      type: string
      description: City
      minLength: 1
      maxLength: 50
      example: Toronto
    province:
      type: string
      description: Province or state
      minLength: 1
      maxLength: 30
      example: Ontario
    postalCode:
      type: string
      description: Postal or zip code
      minLength: 1
      maxLength: 30
      example: M8X 2X2
    country:
      type: string
      description: Two letter country code based on the ISO 3166-1 alpha-2 standard. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      minLength: 2
      maxLength: 2
      example: CA
    address:
      type: object
      description: The postal address including street, town/city, province, and postal code.
      properties:
        unitNumber:
          $ref: '#/components/schemas/unitNumber'
        streetNumber:
[...]
